<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active underlineHover"> Ingresar</h2>
     
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/login.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form hidden>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="nombre">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="INICIAR">
      </form>

      <input type="text" id="login" class="fadeIn second" name="login" placeholder="nombre">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="INICIAR" (click)="init()">
      <!-- Remind Passowrd -->
      <div id="formFooter" hidden>
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>