<div [hidden]="!hiddenMenu">
    <div class="wrapper fadeInDown" >
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active underlineHover"> Ingresar</h2>
         
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="assets/img/panel/login.png" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form  [formGroup] = "uploadItemForm" >
            <input type="text"   formControlName="name" class="fadeIn second"  placeholder="nombre">
            <input type="password"   formControlName="password" placeholder="password" style="background-color: #f6f6f6; border: none;   color: #0d0d0d;   padding: 15px 32px;     text-align: center;        text-decoration: none;        display: inline-block;        font-size: 16px;        margin: 5px;        width: 85%;        border: 2px solid #f6f6f6;        transition: all 0.5s ease-in-out;        border-radius: 5px 5px 5px 5px;"><br>
            <input type="submit" class="fadeIn fourth" value="INICIAR" (click)="init()">
          </form>
    
          <!--input type="text" id="login" class="fadeIn second"  placeholder="nombre">
          <input type="text" id="password" class="fadeIn third"  placeholder="password">
          <input type="submit" class="fadeIn fourth" value="INICIAR" (click)="init()"-->
          <!-- Remind Passowrd -->
          <div id="formFooter" hidden>
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
      
        </div>
      </div>
</div>
<!--div>
  <button (click)="init2()">rets</button>
</div-->
  <app-menu [hidden]="hiddenMenu"></app-menu>