<div style="width: 70%;    text-align: center;" hidden>
    <button class="btn-actualizar" (click)=" ngOnInit()" >Actualizar</button>
    <button  (click)=" ngOnInit()" >Actualizar</button>
</div>
<br>


<!--scroll items para mostrar elementos-->
<div class="scroll-item" hidden>
    <div style="width: 90%" *ngFor='let element of princItem'> 
        <mat-expansion-panel>        
            <mat-expansion-panel-header (click)=" consultaSubCat(element.id)">       
                <mat-panel-title>
                    <div>                  
                        <img src="http://localhost/back-panel/archivos/{{element.iconObj.name}}" style="width: 5%" alt="" > {{element.name}}                 
                    </div>
                </mat-panel-title>
                <mat-panel-description class="">                    
                </mat-panel-description>
            </mat-expansion-panel-header> 
            <div class="">
                <tr>
                    <th style="width: 90%">
                        <div *ngFor='let categoria of subElements' >
                            <div style="margin-left: 10px"> 
                                <img src="{{categoria.url_image}}" style="width: 5%" alt="">
                                {{categoria.name}}
                                <button mat-button (click)="editCat(categoria.id_panel)">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button mat-raised-button  color="warn" (click)="deleteCat(categoria.id_panel)">Eliminar</button>
                            </div>                        
                        </div> 
                    </th>                
                </tr>
            </div>      
                    
            <mat-action-row>
                <button mat-button (click)="funtionEditItem(element.id)">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button  color="warn" (click)="funtionDeleteItem(element.id)">Eliminar</button>
            </mat-action-row>
        </mat-expansion-panel>
    </div>
</div>
<!--Popup tranparente-->
<div id="overlay" [hidden]="hiddenOverlay"></div>

<!--menu Agregar elemento-->
<div id="popup" [hidden]="hiddenPop">
    <form class="example-form" [formGroup] = "uploadItemForm"  name="myform" id="myform">
        <div [hidden]="!hiddenPopSave" >
            <mat-form-field class="example-form-field">
                    <input matInput type="text" formControlName="name" placeholder="TÍTULO" name="name" >
                </mat-form-field>
                <br>
                <mat-form-field class="example-form-field">
                    <input matInput type="text" formControlName="subname" placeholder="SUB TÍTULO" name="subname" >                
                </mat-form-field>
                
                <tr>
                    <th class="img-add">
                        <button type="button" mat-raised-button (click)="fileInputIcon.click()">ICONO</button>
                        <input [hidden]="hiddenIcon" class="img-button"  #fileInputIcon type="file" accept='image/*' name="icon" (change)="selectIcon(fileInputIcon.files)" [hidden]="hiddenIcon">
                        <span style="color:red;" *ngIf="messageIcon">{{messageIcon}}</span>
                    </th>
                    <th>
                        <div>
                            <img class="img-charge" [src]="imgURLIcon"  *ngIf="imgURLIcon">
                        </div>
                    </th>
                </tr>
                    
                <tr [hidden]="hiddenFileInput">
                    <th class="img-add">
                        <button type="button" mat-raised-button (click)="fileInputFile.click()">IMÁGENES</button>
                        <input hidden class="img-button" #fileInputFile type="file" accept='image/*' name="file" (change)="selectFile(fileInputFile.files)">
                        <span style="color:red;" *ngIf="messageFile">{{messageFile}}</span>
                    </th>
                    <th>
                        <div>
                            <img class="img-charge" [src]="imgURLFile"  *ngIf="imgURLFile">
                        </div>
                    </th>
                </tr>  
            
                <tr  [hidden]="hiddenPdfInput">
                    <th class="img-add">
                        <button type="button" mat-raised-button (click)="fileInputPdf.click()">PDF</button>
                        <input hidden class="img-button" #fileInputPdf type="file" accept='application/pdf' name="pdf" (change)="selectPdf(fileInputPdf.files)">
                    </th>
                    <th>
                        <div>
                                <span style="color:#002D57;" *ngIf="messagePdf">{{messagePdf}}</span>
                            <!--img class="img-charge" [src]="imgURLPdf"  *ngIf="imgURLPdf"-->
                            <!--iframe  class="img-charge" [src]="imgURLPdf"  *ngIf="imgURLPdf"></iframe-->
                        </div>              
                    </th>
                </tr> 
                <br><br>
                <button mat-stroked-button  color="primary" type="submit"  (click)="functionItem('save')">Guardar</button> &nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button  color="warn" type="reset" (click)="functionItem('salirPop')">Cancelar</button>
        </div>
        <div id="popupQ" [hidden]="hiddenPopSave">   
            <br>
           {{messagePost}}
            <br>
            <button mat-stroked-button  color="primary" type="submit"  (click)="save('yes')">Si</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button  color="warn" type="reset" (click)="save('no')">No</button>
        </div>
        <div id="popupQ" [hidden]="hiddenPopRes">   
            <br>
            <p style="color: green;font-size: 25px">Registro correcto</p>
            <br>
            <button mat-stroked-button  color="primary" type="reset"  (click)="exitReg()">Aceptar</button>
        </div>
        <div id="popupQ" [hidden]="hiddenProgresBar">   
           <img src="assets/img/panel/envio.gif" alt="">
        </div>
        
    </form>
</div>

<!--popup Eliminar-->
<div id="popupQ" [hidden]="hiddenPopDelete">   
    <br>
    ¿Está seguro de que desea Eliminar el ítem? 
    <br>
    <button mat-stroked-button  color="primary" type="submit"  (click)="funtionDelete('yes')">Si</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button  color="warn" type="reset" (click)="funtionDelete('no')">No</button>
</div>

<!--Menu popup Editar-->
<div id="popupE" [hidden]="hiddenEdit"> 
        <pre>              <span style="font-family: Roboto,'Helvetica Neue',sans-serif;">¿EDITAR ÍTEM?</span></pre>
        <form class="example-form" [formGroup] = "uploadItemForm">
                <div [hidden]="!hiddenPopSave" >
                    <mat-form-field class="example-form-field">
                            <input matInput type="text" formControlName="name" placeholder="TÍTULO" name="name" >
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-form-field">
                            <input matInput type="text" formControlName="subname" placeholder="SUB TÍTULO" name="subname" >                
                        </mat-form-field>
                        
                        <tr>
                            <th class="img-add">
                                <button type="button" mat-raised-button (click)="fileInputIcon.click()">ICONO</button>
                                <input class="img-button" hidden  #fileInputIcon type="file" accept='image/*' name="icon" (change)="selectIcon(fileInputIcon.files)">
                                <span style="color:red;" *ngIf="messageIcon">{{messageIcon}}</span>
                            </th>
                            <th>
                                <div>
                                    <img class="img-charge" [src]="imgURLIcon"  *ngIf="imgURLIcon">
                                </div>
                            </th>
                        </tr>
                            
                        <tr [hidden]="hiddenFileInput">
                            <th class="img-add">
                                <button type="button" mat-raised-button (click)="fileInputFile.click()">IMÁGENES(opcional)</button>
                                <input class="img-button" hidden  #fileInputFile type="file" accept='image/*' name="file" (change)="selectFile(fileInputFile.files)">
                                <span style="color:red;" *ngIf="messageFile">{{messageFile}}</span>
                            </th>
                            <th>
                                <div>
                                    <img class="img-charge" [src]="imgURLFile"  *ngIf="imgURLFile">
                                </div>
                            </th>
                        </tr>  
                    
                        <tr [hidden]="hiddenPdfInput">
                            <th class="img-add">
                                <button type="button" mat-raised-button (click)="fileInputPdf.click()">PDF</button>
                                <input class="img-button" hidden  #fileInputPdf type="file" accept='application/pdf' name="pdf" (change)="selectPdf(fileInputPdf.files)">
                            </th>
                            <th>
                                <div>
                                        <span style="color:#002D57;" *ngIf="messagePdf">{{messagePdf}}</span>
                                    <!--img class="img-charge" [src]="imgURLPdf"  *ngIf="imgURLPdf"-->
                                    <!--iframe  class="img-charge" [src]="imgURLPdf"  *ngIf="imgURLPdf"></iframe-->
                                </div>              
                            </th>
                        </tr> 
                        <br><br>
                        <button mat-stroked-button  color="primary" type="submit"  (click)="functionItem('edit')">Guardar</button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <button mat-raised-button  color="warn" type="reset" (click)="functionItem('salirPop')">Cancelar</button>
                </div>
                <div id="popupQ" [hidden]="hiddenPopSave">   
                    <br>
                   {{messageEdit}}
                    <br>
                    <button mat-stroked-button  color="primary" type="submit"  (click)="saveEdit('yes')">Si</button> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button  color="warn" type="reset" (click)="saveEdit('no')">No</button>
                </div>
                <!--<div id="popupQ" [hidden]="hiddenPopRes"-->
                    <div id="popupQ" [hidden]="true">
                    <br>
                    <p style="color: green;font-size: 25px">Registro correcto</p>
                    <br>
                    <button mat-stroked-button  color="primary" type="reset"  (click)="exitReg()">Aceptar</button>
                </div>
                <div id="popupQ" [hidden]="hiddenProgresBar">   
                   <img src="assets/img/panel/envio.gif" alt="">
                </div>
                
            </form>  
    <br>
    
    <br>
    <!--button mat-stroked-button  color="primary" type="submit"  (click)="funtion('yes')">Si</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button  color="warn" type="reset" (click)="funtionDelete('no')">No</button-->
</div>



<!--PRUEBAS Principal-->
<div class="scroll-item" [hidden]="!hiddenSubCat">
        <h1>{{titlePrinc}}</h1>
    <mat-accordion>
        <mat-expansion-panel *ngFor='let element of princItem'>
            <mat-expansion-panel-header  (click)="consultaSubCatItemPrueba(element.id)">
            <!--mat-panel-title>
                
            </mat-panel-title-->
            <mat-panel-description>
                <div>                  
                <img src="{{urlBackEnd}}/archivos/{{element.iconObj.name}}" style="width: 5%" alt="" > 
                <span>{{element.name}}</span>
                </div>
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <div class="">
                <tr>
                    <th style="width: 90%">
                        <div *ngFor='let categoria of subItem' >
                            <div style="margin-left: 10px"> 
                                <img src="{{urlBackEnd}}/archivos/{{categoria.iconObj.name}}" style="width: 5%" alt="">
                                {{categoria.name}}
                            </div>                        
                        </div>                         
                    </th>    
                    <th style="width: 10%;">
                        <button mat-button (click)="callSubCat(element.id)">Visualizar Contenido </button>&nbsp;&nbsp;&nbsp;
                        <!--button mat-raised-button  color="warn" (click)="deleteCat(categoria.id_panel)">Eliminar</button-->
                    </th>            
                </tr>
            </div> 
            <mat-action-row>
                <button mat-button (click)="funtionEditItem(element.id)">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button  color="warn" (click)="funtionDeleteItem(element.id)">Eliminar</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>
</div>

<!--button type="button" [hidden]="hiddenSubCat" (click)="callSubCat2(175)">Atras</button>
<button type="button" [hidden]="hiddenSubCat" (click)="deleteForm()">borrar</button-->
<button type="button" (click)="homeListItem()" [hidden]="hiddenSubCat" mat-raised-button>Menu Principal</button>


<!--PRUEBAS Sub cat-->
<div class="scroll-item" [hidden]="hiddenSubCat">
        <pre>{{titlePrinc}}</pre>
    <mat-accordion>
        <mat-expansion-panel *ngFor='let element of subAuxItem'>
            <mat-expansion-panel-header  (click)="consultaSubCatItemPrueba(element.id)" (opened)="panelOpenState = true">
            <!--mat-panel-title>
                
            </mat-panel-title-->
            <mat-panel-description>
                <div style="border-color:black ">                  
                <img src="{{urlBackEnd}}/archivos/{{element.iconObj.name}}" style="width: 5%" alt="" > 
                <span>{{element.name}}</span>
                </div>
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <div class="">
                <tr>
                    <th style="width: 90%">
                        <div *ngFor='let categoria of subItem' >
                            <div style="margin-left: 20px"> 
                                <img src="{{urlBackEnd}}/archivos/{{categoria.iconObj.name}}" style="width: 15px" alt="">
                                {{categoria.name}}
                                <!--button mat-button (click)="editCat(categoria.id_panel)">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button mat-raised-button  color="warn" (click)="deleteCat(categoria.id_panel)">Eliminar</button-->
                            </div>                        
                        </div> 
                    </th>
                    <th style="width: 10%;">
                        <button mat-button (click)="callSubCat(element.id)">Visualizar Contenido </button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <!--button mat-raised-button  color="warn" (click)="deleteCat(categoria.id_panel)">Eliminar</button-->
                    </th>                  
                </tr>
            </div> 
            <div>
                <img *ngIf="element.file>0" src="{{urlBackEnd}}/archivos/{{element.fileObj.name}}" alt="" style="width: 600px">
            </div>
            <mat-action-row>
                <button mat-button (click)="funtionEditItem(element.id)">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button  color="warn" (click)="funtionDeleteItem(element.id)">Eliminar</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!--boton Plus agregar elemento-->
<div style="width: 70%;text-align: center;" [hidden]="!hiddenAdd">
    <button class="btn-plus" (click)="functionItem('addItem')"  style="border: none"><img src="assets/img/panel/plus.png" class="img-plus"></button>
</div>

<!--Agregar elementos -->
<div id="popupTypeCat" [hidden]="hiddenPopTypeCat">
    <!-- title="texto que aparece al poner el mouse encima"-->
        <button mat-button (click)="typeCat(0)">Categoría General</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button (click)="typeCat(1)">Categoría Principal</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button (click)="typeCat(2)">Información</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <!--h1>Categoría General</h1>
    <h1>Categoría Principal</h1>
    <h1>Información</h1-->
        <button mat-raised-button  color="warn" type="reset" (click)="functionItem('salirPop')">Cancelar</button>
</div>
<div>
    <button mat-raised-button color="primary" (click)="updateData()">Subir Datos Actualizados</button>
</div>
<div class='overlay' [hidden]="hiddenOverlaySave">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="assets/img/panel/img-load-data.gif" style="width: 20%;">
        <h3 style="margin-top: -5%; color: white;">Guardando</h3>
</div>